<div class="wrapper">
  <div *ngFor="let cell of cells; index as i">
    <app-cell *ngIf="!cell.empty else emptyCell"
              [x]="cell.x" [y]="cell.y"
              [color]="cell.color"
              [childPawns]="cell.childPawns"
              [highlighted]="cell.highlighted"
              (pawnClicked)="updatePawnOnClick($event)"
              (pawnHovered)="updatePawnOnHover($event)"
    />
    <ng-template #emptyCell>
      <app-cell [x]="i" [y]="0" [color]="0" [empty]=true />
    </ng-template>
  </div>
  <app-dice (diceValueChange)="diceValueChange($event)"
            [diceValue]="gameState!.diceValue"
            [player]="player"
            [lobbyId]="lobbyId" />
</div>
