*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;}

body{
    background-color: #1c1f21;
    color: aliceblue;
    display: grid;
    place-items: center;
    height: 100vh;
}
.wrapper{
    position: relative;
    width: 90vw;
    height: 90vh;
    border-radius: 2rem;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
/* Message history */
.history{
    height: calc(90vh - 4rem - 2em);
    overflow-y: scroll;
}
.message{
    width: 90%;
    margin: 1.4em auto;
}
.message p{
    display: inline-block;
}
.message-author{
    color: lightgreen;
    font-size: 1.2em;
}
.message-timestamp{
    float: right;
    filter:brightness(0.7);
}
.message-author, .message-timestamp{
    margin-bottom: 0.3em;
}

/* Entry */
.entry{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.entry-input{
    width: 80%;
    height: 80%;
    margin-left: 20px;
    padding: 0 10px;
    font-size: 1.8em;
    background-color: transparent;
    border: 2px solid lightblue;
    color: lightblue;
    border-radius: 1rem;
    transition: all 200ms ease;
}
.entry-input:focus{
    outline: none;
    border-color: lightseagreen;
    color: lightseagreen;
}
.entry-submit{
    width: 10%;
    height: 80%;
    background-color: lightblue;
    border-radius: 1rem;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
