<div class="wrapper">
  <h1>{{ words["Hi"]! }}, {{ player.name }}</h1>
  <h2>{{ words["You're in lobby"] }} {{ lobby?.id }}</h2>
  <ng-container *ngIf="lobby?.lastWinner != null">
    <h3>Winner of the last game: {{lobby!.lastWinner}}</h3>
  </ng-container>
  <ng-container *ngIf="lobby !== null">
    <button (click)="leaveLobby($event)">{{ words["Leave lobby"] }}</button>
  </ng-container>
  <ng-container *ngIf="!this.gameStarted; else gameStartedBlock">
    <ng-container *ngIf="lobby == null">
      <input [(ngModel)]="player.name" type="text" placeholder='{{ words["Username"] }}'>
      <button (click)="joinLobby($event)">{{ words["Join lobby"]}}</button>
    </ng-container>
    <ng-container *ngIf="lobby != null">
      <button (click)="toggleReady($event)">{{ this.player.isReady ? words['Unready'] : words['Ready'] }}</button>
      <h2>{{ words["Players in lobby"] }}:</h2>
      <ul>
        <li *ngFor="let player of lobby?.players">
          {{ player.name }}: <span
          [style.color]="player.isReady ? 'green' : 'red'">{{ player.isReady ? words['Ready'] : words['Not ready'] }}</span>
        </li>
      </ul>
    </ng-container>
  </ng-container>
  <ng-template #gameStartedBlock>
    <app-board
      (languageChange)="onLanguageChange($event)"
      [player]="player" [lobby]="lobby!" [words]="words"></app-board>
  </ng-template>
</div>
